{% extends '::base_admin.html.twig' %}

{% block body %}
    {% include ':sonata:navigation_bar.html.twig' %}

    <div class="container">
        <div class="row">
            <t
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}