{% extends '::base_admin.html.twig' %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-lg-12">
                <input type="button" value="add" class="btn add pull-right">
                <div class="page-header">Table of users</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Playlists</th>
                            <th>Enabled</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th><input type="checkbox" name="user" value=""></th>
                            <th><a href="{{ path('user', {id: user.id}) }}">{{ user.username }}</a></th>
                            <th>
                                {{ user.playlist|length }}
                            </th>
                            <th>{{ user.enabled }}</th>
                            <th>
                                <a href="delete">Delete</a>
                                <a href="delete">Edit</a>
                            </th>
                        </tr>
                    {% endfor  %}
                    </tbody>
                </table>

                <div>
                    Batch actions:
                    <hr>
                </div>
                <input type="button" value="Delete" class="btn">


                <div class="navigation text-center">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}