{% extends '::base_admin.html.twig' %}

{% block body %}
    {% include ':sonata:navigation_bar.html.twig' %}
    <div class="container">
        <div class="logo"></div>
        <div class="page-header text-center">
            <h2>All playlists</h2>
        </div>
        <div class="row">
            <div class="data-list">
                <div class="col-xs-3">
                    <input class="btn btn-default" type="button" id='addPlaylist' value="Add playlist">
                </div>
                <div class="col-xs-4">
                    <input class="btn btn-default" type="button" id='addVideo' value="Add video">
                </div>
                <div class="col-xs-4">
                    <input class="btn btn-default" type="button" id='addUser' value="Add user">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="data-list">
                {% include 'ActiveScreenBundle:Admin/playlists:columns.html.twig' %}
            </div>
        </div>
        <div class="footer-logo"></div>
    </div>

    <div class="hidden">
        {% include 'ActiveScreenBundle:Admin/playlists:playlists_dialog_forms.html.twig' %}
    </div>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/activescreen_black.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/classes.js') }}"></script>
    <script>
        var sortableManager = new SortableManager('.video .items');
        var positionManager = new PositionManager('.video .items .item');
        var currentPlaylist;

        $('.playlists .item').on('click', function() {
            setActiveClass($(this), $('.playlists .item'));
            currentPlaylist = $(this).attr('id');
            var video = $('.video .items');
            var users = $('.users .items');
            $.ajax({
                url: Routing.generate('playlist_video', {id: currentPlaylist}),
                success: function(item) {
                    video.text('');
                    for (var i = 0; i < item.length; i++) {
                        var element = $( '' +
                            '<div>' +
                                '<div id="' + item[i].id + '" class="item">' + item[i].video_name + '</div>' +
                                '<span class="remove glyphicon glyphicon-trash"></span>'+
                            '</div>'
                        );
                        if (item[i].source) {
                            element.append("<span source=\""+item[i].source+"\" class=\"play glyphicon glyphicon-play-circle\"></span>");
                        }
                        $(video).append(element);
                    }
                    sortableManager.makeSortable();
                    assignRemoveButtons();
                    videoPriviewHandler();
                    addAssignButtons();
                }
            });
            $.ajax({
                url: Routing.generate('playlist_users', {id: currentPlaylist}),
                success: function(data) {
                    users.text('');
                    for (var i = 0; i < data.length; i++) {
                        $(users).append( '' +
                                '<div>' +
                                    '<div id="' + data[i].id + '" class="item">' + data[i].username + '</div>'  +
                                    '<span class="remove glyphicon glyphicon-trash"></span>' +
                                '</div>'
                        );
                    }
                    assignRemoveButtons();
                }
            });
        });

        // Initialization forms data
        $(function() {
            $( ".dialog" ).dialog({
                autoOpen: false,
                modal: true
            });
            $( "#addPlaylist").on('click', function() {
                $( ".dialog.playlist" ).dialog( "open" );
            });
            $( "#addVideo").on('click', function() {
                $( ".dialog.add-video" ).dialog({width: 'auto'}).dialog("open");
                var uploader = new AjaxUploaderForm();
                uploader.setUrl('ajax_upload_video');
                uploader.setSelectorInput('form.add-video input[type=file]');
                uploader.makeAjaxUploadForm();
            });
            $( "#addUser").on('click', function() {
                $( ".dialog.add-users input").val('');
                $( ".dialog.add-users" ).dialog( "open" );
            });

            assignRemoveButtons();
        });


        // Close selected dialog by click button
        $('form.dialog.playlist button, form.dialog.assign-users button, form.dialog.add-users button, form.dialog.assign-video button, form.dialog.add-video button').on('click', function() {
            $( ".dialog" ).dialog( "close" );
        });


        // Handlers forms
        $('form#playlist button').on('click', function() {
            var name = $('form#playlist input[type=text]').val();
            var url = Routing.generate('ajax_playlist_add', {'name': name});
            $.ajax({
                url: url,
                success: function(playlist) {
                    $('.playlists .items').append(playlist);
                }
            });
            $( "form.dialog.playlist input").val('');

        });
        $( "form.assign-video button[id=assign]").on('click', function() {
            var name = $('form#playlist input[type=text]').val();
            var url = Routing.generate('ajax_playlist_add', {'name': name});
            $.post(url);
            $( "form.add-video input").val('');
        });
        $( ".dialog.add-users button").on('click', function() {
            var username = $( ".dialog.add-users  #Username").val();
            var firstname = $( ".dialog.add-users  #Firstname").val();
            var lastname = $( ".dialog.add-users  #Lastname").val();
            var email = $( ".dialog.add-users  #Email").val();
            var pasword = $( ".dialog.add-users  #Password").val();
            $.ajax({
                method: 'POST',
                url: Routing.generate('ajax_add_user'),
                data: {username: username, firstname: firstname, lastname: lastname, email: email, password: pasword}
            });
        });
        $( "form.assign-video button[id=assign]" ).on('click', function() {
            var selected = $("form.assign-video option:selected");
            var videoId = selected.attr('id');
            var playlistId = $('.playlists .item.active').attr('id');
            $.ajax({
                url: Routing.generate('assign_video_to_playlist'),
                data: {playlist: playlistId, video: videoId},
                success: function(video) {
                    $( ".video .items" ).append(video);
                    assignRemoveButtons();
                }
            });
        });
        $( "form.assign-users button" ).on('click', function() {
            var selected = $("form.assign-users option:selected");
            var userId = selected.attr('id');
            var playlistId = $('.playlists .item.active').attr('id');
            $.ajax({
                url: Routing.generate('assign_users_to_playlist'),
                data: {playlist: playlistId, user: userId},
                success: function(user) {
                    $('.users .items').append(user);
                    assignRemoveButtons();
                }
            });
        });

        // Remove buttons
        function assignRemoveButtons() {
            $('.playlists .remove').on('click', function() {
                var id = $(this).siblings().attr('id');
                $.ajax({
                    method: 'POST',
                    url: Routing.generate('remove_playlist'),
                    data: {id: id},
                    success: function() {
                        $('.playlists .item[id='+id+']').parent().remove();
                    }
                })
            });
            $('.video .remove').on('click', function() {
                var id = $(this).siblings().attr('id');
                $.ajax({
                    method: 'POST',
                    url: Routing.generate('remove_video'),
                    data: {id: id},
                    success: function() {
                        $('.video .item[id='+id+']').parent().remove();
                    }
                })
            });
            $('.users .remove').on('click', function() {
                var id = $(this).siblings().attr('id');
                $.ajax({
                    method: 'POST',
                    url: Routing.generate('remove_user'),
                    data: {id: id},
                    success: function() {
                        $('.users .item[id='+id+']').parent().remove();
                    }
                })
            });
        }
        //
        // Preview video files
        //
        function videoPriviewHandler() {
            $('.play').on('click', function() {
                $( ".dialog.modal-video" ).dialog({
                    autoOpen: false,
                    modal: true,
                    width: '620',
                    height: '460'
                }).dialog("open");
                var source = $(this).attr('source');
                var format = source.match(/.{3}$/);
                if (format == 'mp4' || format == 'm4v') {
                    var mimeType = 'video/mp4';
                } else if (format == 'mov') {
                    var mimeType = 'video/quicktime';
                }
                videojs("example_video_1").ready(function(){
                    var myPlayer = this;
                    myPlayer.src({ type: mimeType, src: source });
                    myPlayer.width(580);
                    myPlayer.height(380);
                    myPlayer.play();
                });
            });
        }

        //Assign Weather and Horoscope
        $( "form.assign-video button[id=Weather]").on('click', function() {
            var playlistId = $('.playlists .item.active').attr('id');
            $.ajax({
                method: 'POST',
                url: Routing.generate('assign_weather'),
                data: {id: playlistId},
                success: function(weather) {
                    $('.video .items').append(weather);
                }
            })
        });
        $( "form.assign-video button[id=Horoscope]").on('click', function() {
            var playlistId = $('.playlists .item.active').attr('id');
            $.ajax({
                method: 'POST',
                url: Routing.generate('assign_horoscope'),
                data: {id: playlistId},
                success: function(horoscope) {
                    $('.video .items').append(horoscope);
                }
            })
        });

        function addAssignButtons() {
            if (!$('#assignVideo, #assignUser').length)  {
                var assignVideoButton = '<span id="assignVideo" class="glyphicon glyphicon-plus-sign"></span>';
                var assignUserButton = '<span id="assignUser" class="glyphicon glyphicon-plus-sign"></span>';
                $('.data-list .video').append(assignVideoButton);
                $('.data-list .users').append(assignUserButton);

                $( "#assignVideo").on('click', function() {
                    $( ".dialog.assign-video" ).dialog({width: 'auto'}).dialog("open");
                    $( "form.assign-video select").text('');
                    $.ajax({
                        url: Routing.generate('ajax_list_video'),
                        success: function(data) {
                            var list =  $('form.assign-video select');
                            list.html('');
                            list.append(data);
                        }
                    });
                });
                $( "#assignUser").on('click', function() {
                    $( ".dialog.assign-users" ).dialog( "open" );
                    $.ajax({
                        url: Routing.generate('ajax_list_users'),
                        success: function(data) {
                            var list =  $('form.dialog.assign-users select');
                            list.html('');
                            list.append(data);
                        }
                    });
                });
            }
        }
        $( "#logout").on('click', function() {
            var host = window.location.protocol + '//' + window.location.host;
            window.location.href = host + '/logout';
        });
    </script>
{% endblock %}