{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="well">
        <div class="page-header">
            <h3>Edit profile</h3>
        </div>
        <form  role="form" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            {{ form_widget(form) }}
            <div>
                <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>

