{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include 'ActiveScreenBundle:Ecp:navigation_bar.html.twig' %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
