{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="well">
        <div class="page-header">
            <h3>Show profile</h3>
        </div>
        <div class="fos_user_user_show">
            <p> Company name : {{ user.companyName }}</p>
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
</div>