.data-list .title {
  margin-bottom: 10px;
}
.data-list .playlists .item {
  cursor: pointer;
}
.data-list .video .item {
  cursor: pointer;
}
.data-list .item {
  margin-bottom: 10px;
  background-color: #F0F0F0;
}
.data-list .item.active {
  background-color: #BAFF84;
}
.data-list .remove {
  float: right;
  cursor: pointer;
  margin: -33px 13px;
}
.data-list .play {
  float: right;
  cursor: pointer;
  margin-top: -32px;
  margin-right: 35px;
}
.logo {
  margin: 20px auto 0px;
  background: url('/images/logo.png');
  width: 229px;
  height: 165px;
}
.footer-logo {
  z-index: -1;
  background-image: url('/images/footer-logo.png');
  position: fixed;
  width: 225px;
  height: 211px;
  bottom: 0px;
  right: 0px;
}
.absolute-center {
  width: 175px;
  height: 206px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav.nav-tabs.ecp-menu {
  margin-bottom: 20px;
}
.nav.nav-tabs.ecp-menu li a {
  color: #ffffff;
}
.nav.nav-tabs.ecp-menu li a:hover {
  color: #000100;
}
.typeTemplate {
  margin-right: 30px;
}
.typeTemplate label {
  margin-right: 10px;
}
.sampletemplate {
  margin: 0 auto;
}
.sampletemplate img {
  display: block;
  margin: 0 auto;
}
.blocks .nav.nav-tabs {
  margin-bottom: 5px;
}
.blocks .nav.nav-tabs li {
  width: 45px;
  height: 40px;
}
.blocks .nav.nav-tabs li a {
  border: none;
  color: #ffffff;
}
.blocks .nav.nav-tabs li a:hover {
  color: #ffffff;
  border: none;
  background-color: transparent;
}
.blocks .nav.nav-tabs li.active a {
  background: url('/images/tabs/tab_active.png');
  background-position: -2px;
}
.blocks .nav.nav-tabs li.incompleted a {
  background: url('/images/tabs/tab.png');
  background-position: -2px;
}
.blocks .nav.nav-tabs li.completed a {
  background: url('/images/tabs/tab_completed.png');
  background-position: -2px;
}
.blocks .form-group textarea {
  width: 100%;
}
select {
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 2px;
}
