
.data-list {
  .title {
    margin-bottom: 10px;
  }
  .playlists {
    .item {
      cursor: pointer;
    }
  }
  .video {
    .item {
      cursor: pointer;
    }
  }
  .item {
    &.active {
      background-color: #BAFF84;
    }
    margin-bottom: 10px;
    background-color: #F0F0F0;
  }
  .remove {
    float: right;
    cursor: pointer;
    margin: -33px 13px;
  }
  .play {
    float: right;
    cursor: pointer;
    margin-top: -32px;
    margin-right: 35px;
  }
}
.logo {
  margin: 20px auto 0px;
  background: url('/images/logo.png');
  width: 229px;
  height: 165px;
}
.footer-logo {
  z-index: -1;
  background-image: url('/images/footer-logo.png');
  position: fixed;
  width: 225px;
  height: 211px;
  bottom: 0px;
  right: 0px;
}
.absolute-center {
  width: 175px;
  height: 206px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav.nav-tabs.ecp-menu {
  li a{
    color: #ffffff;
  }
  li a:hover{
    color: #000100;
  }
  margin-bottom: 20px;
}
.typeTemplate {
  label {
    margin-right: 10px;
  }
  margin-right: 30px;
}
.sampletemplate {
  margin: 0 auto;
  img {
    display: block;
    margin: 0 auto;
  }
}
.blocks {
  .nav.nav-tabs {
    margin-bottom: 5px;
    li {
      a {
        border: none;
        color: #ffffff;
        &:hover {
          color: #ffffff;
          border: none;
          background-color: transparent;
        }
      }
      width: 45px;
      height: 40px;
      &.active a{
        background: url('/images/tabs/tab_active.png');
        background-position: -2px;
      }
      &.incompleted a{
        background: url('/images/tabs/tab.png');
        background-position: -2px
      }
      &.completed a{
        background: url('/images/tabs/tab_completed.png');
        background-position: -2px
      }
    }
  }
  .form-group{
    textarea {
      width: 100%;
    }
  }
}
select {
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 2px;
}
