body {
  background-color: #272827;
  font-size: 14px;
  color: #eeeeee;
  font-weight: bold;
}
a {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
.data-list .item {
  background-color: #414545;
  padding: 4px 10px;
}
.data-list .item.active {
  background-color: #6b9a29;
}
.btn {
  font-weight: bold;
  color: #eeeeee;
  background-color: transparent;
  border-width: 2px;
  border-color: #414545;
}
.btn:hover,
.btn:focus,
.btn:visited {
  font-weight: bold;
  color: #eeeeee;
  background-color: transparent;
  border-color: #6b9a29;
}
.glyphicon-plus-sign {
  cursor: pointer;
  width: 32px;
  height: 31px;
  background: url('/images/add-button.png');
  font-family: none;
}
.glyphicon-plus-sign:before {
  content: " ";
}
.ui-dialog {
  background-color: #272827;
}
.well {
  background-color: #333;
}
.indent-bottom {
  margin-bottom: 20px;
}
table tr.selected {
  background-color: #8eb457;
}
