@font-color: #EEEEEE;

body {
  background-color: #272827;
  font-size: 14px;
  color: @font-color;
  font-weight: bold;
}
a {
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}
.data-list .item {
  background-color: #414545;
  padding: 4px 10px;
  &.active {
    background-color: #6b9a29;
  }
}
.btn {
  font-weight: bold;
  color: @font-color;
  background-color: transparent;
  border-width: 2px;
  border-color: #414545;
  &:hover, &:focus, &:visited {
    font-weight: bold;
    color: @font-color;
    background-color: transparent;
    border-color: #6b9a29;
  }
}
.glyphicon-plus-sign {
  cursor: pointer;
  width: 32px;
  height: 31px;
  background: url('/images/add-button.png');
  &:before {
    content: " ";
  }
  font-family: none;
}
.ui-dialog {
  background-color: #272827;
}
.well {
  background-color: #333;
}
.indent-bottom {
  margin-bottom: 20px;
}
table tr.selected {
  background-color: #8eb457;
}


