@font-color: #EEEEEE;
@background: #272827;

body {
  background-color: #272827 !important;
  font-size: 14px;
  color: @font-color !important;
  font-weight: bold;
}
.sonata-bc .table-striped tbody tr:nth-child(odd) td, .sonata-bc .table-striped tbody tr:nth-child(odd) th {
  background-color: @background !important;
}
.btn {
  margin-top: 3px;
  font-weight: bold !important;
  color: @font-color !important;
  background-color: transparent !important;
  background-image: none !important;
  border-width: 2px !important;
  border-color: #414545 !important;
  &:hover, &:focus {
    font-weight: bold !important;
    color: @font-color !important;
    background-color: transparent !important;
    border-color: #6b9a29 !important;
  }
}
.sonata-bc {
  padding-top: 0px !important;
  div.sonata-actions {
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
  }
  .table-striped tbody tr:nth-child(odd) td, .sonata-bc .table-striped tbody tr:nth-child(odd) th {
    background-color: @background !important;
  }
  .nav-tabs>.active {
    a, a:hover {
      background-color: transparent;
      color: @font-color;
    }
  }
  .well {
    background-color: transparent;
  }
  .nav-tabs>li>a {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: @font-color;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    &:hover {
      color: #000100;
    }
  }
  .modal {
    overflow: hidden;
  }
}
.sonata-ba-list-field.sonata-ba-list-field-text {
  .video {
    text-decoration: underline;
    cursor: pointer;
  }
}
.modal {
  overflow: hidden;
  left: 36%;
  width: 50%;
  height: 65%;
  display: block;
}
#video_block {
  height: 100%;
}
.vjs-tech {
  width: 100%;
  height: 100%
}