body {
  background-color: #272827 !important;
  font-size: 14px;
  color: #eeeeee !important;
  font-weight: bold;
}
.sonata-bc .table-striped tbody tr:nth-child(odd) td,
.sonata-bc .table-striped tbody tr:nth-child(odd) th {
  background-color: #272827 !important;
}
.btn {
  margin-top: 3px;
  font-weight: bold !important;
  color: #eeeeee !important;
  background-color: transparent !important;
  background-image: none !important;
  border-width: 2px !important;
  border-color: #414545 !important;
}
.btn:hover,
.btn:focus {
  font-weight: bold !important;
  color: #eeeeee !important;
  background-color: transparent !important;
  border-color: #6b9a29 !important;
}
.sonata-bc {
  padding-top: 0px !important;
}
.sonata-bc div.sonata-actions {
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
}
.sonata-bc .table-striped tbody tr:nth-child(odd) td,
.sonata-bc .sonata-bc .table-striped tbody tr:nth-child(odd) th {
  background-color: #272827 !important;
}
.sonata-bc .nav-tabs > .active a,
.sonata-bc .nav-tabs > .active a:hover {
  background-color: transparent;
  color: #eeeeee;
}
.sonata-bc .well {
  background-color: transparent;
}
.sonata-bc .nav-tabs > li > a {
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #eeeeee;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.sonata-bc .nav-tabs > li > a:hover {
  color: #000100;
}
.sonata-bc .modal {
  overflow: hidden;
}
.sonata-ba-list-field.sonata-ba-list-field-text .video {
  text-decoration: underline;
  cursor: pointer;
}
.modal {
  overflow: hidden;
  left: 36%;
  width: 50%;
  height: 65%;
  display: block;
}
#video_block {
  height: 100%;
}
.vjs-tech {
  width: 100%;
  height: 100%;
}
