<div class="col-xs-3">
    <div class="playlists">
        <div class="title">Playlists‎</div>
        <div class="items">
            {% for playlist in playlists %}
                <div>
                    <div class="item" id="{{ playlist.id }}">{{ playlist.name }}</div>
                    <span class="remove glyphicon glyphicon-trash"></span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-xs-4">
    <div class="video">
        <div class="title">Items</div>
        <div class="items"></div>
    </div>
</div>
<div class="col-xs-4">
    <div class="users">
        <div class="title">Users</div>
        <div class="items"></div>
    </div>
</div>