<form class="dialog add-video" id="add-video" method="POST" role="form">
    <div class="form-group">
        <label for="exampleInputFile">Video file input</label>
        <input type="file" id="video">
        <p class="help-block">Choose mp4 or mov format.</p>
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>

<form class="dialog assign-video" role="form">
    <div class="form-group">
        <label for="Name">Assign video</label>
        <select name="Video">
            <option></option>
        </select>
        <br/><br/>
        <button type="button" id="assign" class="btn btn-default">Assign</button>
        <br/><br/>
        <div class="btn-group">
            <button type="button" id="Weather" class="btn btn-default">Weather</button>
            <button type="button" id="Horoscope" class="btn btn-default">Horoscope</button>
        </div>
    </div>

</form>

<form class="dialog playlist" id="playlist" role="form">
    <div class="form-group">
        <label for="Name">Playlist name</label>
        <input type="text" class="form-control" id="Name" placeholder="Enter name for new playlist">
    </div>
    <button type="button" class="btn btn-default">Add</button>
</form>

<form class="dialog assign-users" id="users" role="form">
    <div class="form-group">
        <label for="Name">User</label>
        <select name="Name">
            <option></option>
        </select>
    </div>
    <button type="button" class="btn btn-default">Add</button>
</form>

<form class="dialog add-users" id="users" role="form">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username">
    </div>
    <div class="form-group">
        <label for="Firstname">Firstname</label>
        <input type="text" class="form-control" id="Firstname">
    </div>
    <div class="form-group">
        <label for="Lastname">Lastname</label>
        <input type="text" class="form-control" id="Lastname">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="Email">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password">
    </div>
    <button type="button" class="btn btn-default">Add</button>
</form>

<form class="dialog modal-video" id="modal-video" role="form">
    <video id="example_video_1" class="video-js vjs-default-skin"></video>
</form>

