<ul class="nav nav-tabs ecp-menu">
    <li><a href="{{ path('admin_app_activescreen_user_list') }}">Users</a></li>
    <li><a href="{{ path('admin_app_activescreen_video_list') }}">Video</a></li>
    <li><a href="{{ path('admin_app_activescreen_playlist_list') }}">Playlists</a></li>
    <li class="pull-right"><a href="{{ path('logout') }}">logout</a></li>
</ul>
