{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            <!-- jQuery code -->
            <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />

            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"  />
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />

            <!-- base application asset -->
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/colors.css') }}" type="text/css" media="all" />

            <link rel="stylesheet" href="{{ asset('css/sonata_black.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/jquery.multiselect.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/ui.multiselect.css') }}" type="text/css" />

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript">
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
               };
            </script>
            <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonataadmin/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/sonataadmin/jquery/jquery.form.js') }}" type="text/javascript"></script>
            {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}<script src="{{ asset('bundles/sonataadmin/jquery/jquery.confirmExit.js') }}" type="text/javascript"></script>{% endif %}
            <script src="{{ asset('bundles/sonataadmin/base.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="htttp://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.multiselect.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/video.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/sonataAdmin.js') }}"></script>
            {#<script type="text/javascript" src="{{ asset('js/ui.multiselect.js') }}"></script>#}
        {% endblock %}

        <title>
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first  %}
                            &gt;
                        {% endif %}
                        {{ menu.label }}
                    {% endfor %}
                {% endif %}
            {% endif%}
        </title>
    </head>
    <body class="sonata-bc {% if _side_menu is empty %}sonata-ba-no-side-menu{% endif %}">
        {# initialize block value #}

        {% include '::sonata/navigation_bar.html.twig' %}

        <div class="container-fluid">
            {% block notice %}
                {% for notice_level in ['success','error','info', 'warning'] %}
                    {% set session_var = 'sonata_flash_' ~ notice_level %}
                    {% for flash in app.session.flashbag.get(session_var) %}
                        <div class="alert {{ 'alert-' ~ notice_level }}">
                            {{ flash|trans([], 'SonataAdminBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}

            <div class="row-fluid">
                {%block actions %}{% endblock %}
            </div>

            <div class="row-fluid">
                {% if _side_menu is not empty %}
                    <div class="sidebar span2">
                        <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
                    </div>
                {% endif %}

                <div class="content {{ _side_menu is not empty ? ' span10' : 'span12' }}">
                    {% block sonata_admin_content %}

                        {% if _preview is not empty %}
                            <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                        {% endif %}

                        {% if _content is not empty %}
                            <div class="sonata-ba-content">{{ _content|raw }}</div>
                        {% endif %}

                        {% if _show is not empty %}
                            <div class="sonata-ba-show">{{ _show|raw }}</div>
                        {% endif %}

                        {% if _form is not empty %}
                            <div class="sonata-ba-form">{{ _form|raw }}</div>
                        {% endif %}

                        {% if _list_table is not empty or _list_filters is not empty %}
                            <div class="row-fluid">
                                <div class="sonata-ba-list span10">
                                    {{ _list_table|raw }}
                                </div>
                                <div class="sonata-ba-filter span2">
                                    {{ _list_filters|raw }}
                                </div>
                            </div>
                        {% endif %}

                    {% endblock %}
                </div>
            </div>

            {#<script>#}
                {#$(function(){#}
                    {#$("select").multiselect();#}
                {#});#}
            {#</script>#}

            {#{% block footer %}#}
                {#<div class="row-fluid">#}
                    {#<div class="span2 offset10 pull-right">#}
                        {#<span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>#}
                    {#</div>#}
                {#</div>#}
            {#{% endblock %}#}
        </div>
        <div class="modal fade">
            <div class="modal-dialog">
                <video id="video_block" class="video-js vjs-default-skin"></video>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
</html>
