{% extends '::base_admin.html.twig' %}

{% block body %}
    {% include 'ActiveScreenBundle::login_bar.html.twig' %}
    {% include 'ActiveScreenBundle:Ecp:navigation_bar.html.twig' %}

    <div class="typeTemplate">
        <select class="pull-right" id='typeTemplate' name='typeTemplate'>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <label class="pull-right" for="typeTemplate">Type template:</label>
    </div>

    <div class="container">
        <div class="name">
            <form role="form">
                <div class="form-group">
                    <label for="title">Template name</label>
                    <input type="text" class="form-control" id="title" placeholder="Template name">
                </div>
            </form>
        </div>
        <div class="sampletemplate">
            <img src="/templates/template-1.png">
        </div>
        <div class="blocks">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">1</a></li>
                <li class="incompleted"><a href="#">2</a></li>
                <li class="incompleted"><a href="#">3</a></li>
            </ul>
            <form role="form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name='content'></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" id="image" placeholder="select image">
                </div>
                <input class="btn" type="button" value="Add block">
            </form>
        </div>
    </div>

    <div class="footer-logo"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var templateManger = new TemplateManager();
        var contentManager = new ContentManager();
        $('.typeTemplate #typeTemplate').on('change', function() {
            templateManger.getTypeTempalte();
            templateManger.getRules();
            templateManger.changeTemplate();
        });
        $('.blocks ul li').on('click', function() {
            contentManager.selectBlock($(this).text());
        });
        $('.blocks form input[type="button"]').on('click', function() {
            contentManager.addBlock();
        });

        function TemplateManager() {
            var typeTemplate;
            this.getTypeTempalte = function() {
                typeTemplate = $('.typeTemplate #typeTemplate').find(':selected').text();
                return $('.typeTemplate #typeTemplate').find(':selected').text();
            };
            this.getRules = function() {
                $.ajax({
                    async: false,
                    url: Routing.generate('ajax_rules_by_type'),
                    method: 'GET',
                    data: {'typeTemplate': typeTemplate},
                    success: function(data) {
                        rules = data;
                    }
                });

                return rules;
            };
            this.changeTemplate = function() {
                var tabs;
                changePreview();
                getTabs();
                $('.blocks ul').text('').append(tabs);
                function changePreview() {
                    $('.sampletemplate img').attr('src', "/templates/template-"+typeTemplate+".png");
                }
                function getTabs() {
                    $.ajax({
                        async: false,
                        url: Routing.generate('ajax_get_tabs'),
                        method: 'GET',
                        data: {'blocks': rules.text},
                        success: function(data) {
                            tabs = data;
                        }
                    });
                }
            }
        }

        function ContentManager() {
            var form = $('.blocks form ');
            blocks = {};
            this.selectBlock = function(id) {
                var currentTab = getCurrentTab();
                setIncompletedTab(currentTab);
                selectBlock(id);
            };
            this.addBlock = function() {
                var valid = validateFields();
                if (valid) {
                    var block = getFields();
                    var id = getCurrentTab();
                    blocks[id] = block;
                    setCompletedTab(id);
                    nextBlock();
                }
            };
            function nextBlock() {
                var nextId = getIdNextEmptyBlock();
                if (nextId) {
                    selectBlock(+nextId);
                } else {
                    saveTemplate();
                }
            }
            function selectBlock(id) {
                setActiveTab(id);
                clearForm();
                if (blocks[id]) {
                    var fields = blocks[id];
                    fillForm(fields);
                }
            }
            function clearForm() {
                form.find('input[type=text]').val('');
                form.find('input[type=file]').val('');
                form.find('textarea').val('');
            }
            function saveTemplate() {
                blockG = blocks;
                var id = getUniqIdTemplate();
                uploadImages();
                uploadContent();
                reset();
                alert('saved template');

                function uploadImages() {
                    var type = 'image';
                    var typeTemplate = templateManger.getTypeTempalte();
                    $.each(blocks, function( index, value ) {
                        var format = value.image.type;
                        $.ajax({
                            type: 'post',
                            url: Routing.generate('ajax_upload_template', {'type': type, 'id': id, 'index': index, 'format': format, 'typeTemplate': typeTemplate}),
                            data: value.image,
                            success: function () {
                                // do something
                            },
                            xhrFields: {
                                // add listener to XMLHTTPRequest object directly for progress (jquery doesn't have this yet)
                                onprogress: function (progress) {
                                    // calculate upload progress
                                    var percentage = Math.floor((progress.total / progress.totalSize) * 100);
                                    // log upload progress to console
                                    console.log('progress', percentage);
                                    if (percentage === 100) {
                                        console.log('DONE!');
                                    }
                                }
                            },
                            processData: false,
                            contentType: value.image.type
                        });
                    });
                }
                function uploadContent() {
                    var type = 'content';
                    var content = {};
                    var text = [];
                    var title = [];
                    $.each(blocks, function( index, value ) {
                        text.push(value.content);
                        title.push(value.title);
                    });
                    content['text'] = text;
                    content['title'] = title;
                    content['templateName'] = getTemplateName();
                    var json = JSON.stringify(content);
                    $.ajax({
                            type: 'post',
                            url: Routing.generate('ajax_upload_template', {'type': type, 'id': id}),
                            data: json,
                            contentType: 'application/json'
                        });

                }
            }
            function getUniqIdTemplate() {
                var id;
                $.ajax({
                    async: false,
                    url: Routing.generate('ajax_get_unique_id'),
                    success: function (data) {
                        id = data;
                    }
                });
                return id;
            }
            function getIdNextEmptyBlock() {
                var firstElement = $('.blocks ul li.incompleted').eq(0).text();
                if (firstElement) {
                    return firstElement;
                }
                return false;
            }
            function validateFields() {
                var fields = getFields();
                fields.tempalteName = getTemplateName();
                $.each(fields, function( index, value ) {
                    if (!value) {
                        if (index == 'tempalteName') {index = 'tempalte name'}
                        var message = 'Please fill \''+index+'\' field';
                        alert(message);
                        throw new Error(message);
                        return false;
                    }
                });
                return true;
            }
            function getFields() {
                var fields = {};
                fields.title = form.find('input[type=text]').val();
                fields.content = form.find('textarea').val();
                fields.image = form.find('input[type=file]')[0].files[0];

                return fields;
            }
            function fillForm(fields) {
                form.find('input[type=text]').val(fields.title);
                form.find('textarea').val(fields.content);
            }
            function setActiveTab(id) {
                var tabs = $('.blocks ul li');
                tabs.removeClass('active');
                var tab = $('.blocks ul li:contains('+id+')');
                tab.removeClass('incompleted');
                tab.addClass('active');
            }
            function setCompletedTab(id) {
                var tab = $('.blocks ul li:contains('+id+')');
                tab.removeClass('incompleted');
                tab.addClass('completed');
            }
            function setIncompletedTab(id) {
                var tab = $('.blocks ul li:contains('+id+')');
                tab.removeClass('completed');
                tab.addClass('incompleted');
            }
            function getCurrentTab() {
                return $('.blocks ul li.active').text();
            }
            function getTemplateName() {
                return $('.name form input').val();
            }
            function reset() {
                clearForm();
                blocks = {};
                $.each($('.blocks ul li'), function(index , value) {
                    setIncompletedTab($(value).text());
                });
                selectBlock(1);
            }
        }
    </script>
{% endblock %}