<ul class="nav nav-tabs ecp-menu">
    <li><a href="{{ path('playlist') }}">Playlist</a></li>
    <li><a href="{{ path('template') }}">Templates</a></li>
    <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
    <li class="pull-right"><a href="{{ path('logout') }}">logout</a></li>
</ul>