{% extends '::base_admin.html.twig' %}

{% block body %}
    {% include 'ActiveScreenBundle:Ecp:navigation_bar.html.twig' %}

    <div class="container">
        <div class="logo"></div>
        <div class="page-header text-center">
            <h3>Username: {{ user.username }}</h3>
        </div>
        <div class="row">
            <div>Playlist assign from {{ ''|date('Y-m-d') }}:</div>
        </div>
        <div class="row">
            <ul>
                {% for item in items %}
                    <li>
                        {% if item.file %}
                            {{ item.file }}
                        {% endif %}
                        {% if item.weather %}
                            Weather
                        {% endif %}
                        {% if item.horoscope %}
                            Horoscope
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="footer-logo"></div>
{% endblock %}

{% block javascripts %}
{% endblock %}