{% extends '::base_admin.html.twig' %}

{% block body %}
    {% include 'ActiveScreenBundle:Ecp:navigation_bar.html.twig' %}
    <div class="container">
        <input class="indent-bottom btn btn-default top-left" type="button" id='logout' value="Add template">
        {% if templates.getTotalItemCount() %}
        <table class="table">
            <thead>
                <td>Id</td>
                <td>Name</td>
                <td>Enabled</td>
                <td>Position</td>
                <td>Action</td>
                <td>Selector</td>
            </thead>
            <tbody>
                {% for template in templates %}
                    <tr>
                        <td>{{ template.id }}</td>
                        <td>{{ template.name }}</td>
                        <td><span class="glyphicon glyphicon-{% if template.enabled %}ok-sign{% else %}minus-sign{% endif %}"></span></td>
                        <td>
                            {% if template.enabled %}
                                {{ template.position }}
                            {% else %}
                                <select>
                                    <option>First</option>
                                    <option>Last</option>
                                </select>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('delete_template', {id: template.id}) }}">Delete</a>
                        </td>
                        <td>{#<div class="selector">#}<input type="checkbox"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="button" class="btn text-center" value="Save">
        <input type="button" class="btn text-center" value="Reset">
        {% else %}
            <div>This user have not any templates</div>
        {% endif %}
    </div>
    <div class="footer-logo"></div>
{% endblock %}

{% block javascripts %}
    <script>
        var templateSelector = new TemplateSelector();
        $("input[type=button][value='Add template']").on('click', function() {
            window.location.href = Routing.generate('add_template');
        });
        $('input[type=button][value=Save]').on('click', function() {
            templateSelector.save();
        });
        $('input[type=button][value=Reset]').on('click', function() {
            templateSelector.reset();
        });
        $('table input[type=checkbox]').on('click', function() {
            templateSelector.selectRow($(this));
        });
        function TemplateSelector() {
            var checkboxes =  $('table input[type=checkbox]');
            this.save = function() {
                var templates = getSelectedTemplates();
                $.ajax({
                    url: Routing.generate('save_templates'),
                    data: JSON.stringify(templates),
                    type: 'POST',
                    success: function() {
                        location.reload();
                    }
                });
            };
            this.reset = function() {
                checkboxes.filter(':checked').prop("checked", false);
                $.ajax({
                    url: Routing.generate('save_templates'),
                    data: JSON.stringify([]),
                    type: 'POST',
                    success: function() {
                        location.reload();
                    }
                });
            };
            this.selectRow = function(checkbox) {
                var row = checkbox.parents('tr');
                var error = getError();
                if (error) {
                    $(checkbox).prop('checked', false);
                    alert(error);
                } else {
                    toggleHighlightRow(row);
                }
            };
            function getError() {
                if (getSelectedRow().length > 2) {
                    var error = 'You will need select two template';
                } else {
                    var firstElements = checkboxes.filter(':checked').parents('tr').find('option:selected').filter(function() {
                        return $(this).val()==='First';
                    });
                    var lastElements = checkboxes.filter(':checked').parents('tr').find('option:selected').filter(function() {
                        return $(this).val()==='Last';
                    });
                    if (firstElements.length > 1 && lastElements.length > 1) {
                        var error = 'You will need select only one template for each type';
                    }
                    if (getSelectedRow().length == 1 && lastElements.length == 1) {
                        var error = 'You must specify at least one first element';
                    }
                }

                return error;
            }
            function getSelectedRow() {
                return checkboxes.filter(':checked');
            }
            function getSelectedTemplates() {
                var rows = getSelectedRow();
                var templates = [];
                rows.each(function(index, checkbox) {
                   var element = {};
                   element.type = $(checkbox).parents('tr').find(':selected').text();
                   element.id = $(checkbox).parents('tr').find('td').eq(0).text();
                   templates.push(element);
                });
                return templates;
            }
            function toggleHighlightRow(row) {
                var checked = row.find('input[type=checkbox]').parents('tr').find('input[type=checkbox]').is(':checked');
                if (checked) {
                    row.addClass('selected');
                } else {
                    row.removeClass('selected');
                }
            }
        }
    </script>
{% endblock %}